<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6f0e5bbf-841d-4814-99b0-bbaae5314c1c/resourcegroups/InstabuyApp/providers/Microsoft.Web/sites/InstabuyApp</ResourceId>
    <ResourceGroup>InstabuyApp</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://instabuyapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>instabuyapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>InstabuyApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$InstabuyApp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:instabuyapp.database.windows.net,1433;Initial Catalog=InstabuyApp_db;User ID=amillard98@instabuyapp;Password=IL0veChicken!" Name="Data Source=tcp:instabuyapp.database.windows.net,1433;Initial Catalog=InstabuyApp_db;User Id=amillard98@instabuyapp;Password=IL0veChicken!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Instabuy.Models.ApplicationDbContext, Instabuy" MigrationConfiguration="Instabuy.Migrations.Configuration, Instabuy" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:instabuyapp.database.windows.net,1433;Initial Catalog=InstabuyApp_db;User Id=amillard98@instabuyapp;Password=IL0veChicken!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>